$clear-white: #ffffff;
$clear-black: #000000;
$basic_black: #111111;
$special_dark-grey-2: #222222;
$basic_grey: #f2f2f2;
$nav-line_grey: #e6e6e6;
$light-grey: #cdcdcd;
$light-grey_range-bar: #dcdcdc;
$input-line_grey: #e7e7e7;
$plus-icon-grey: #d3d3d3;
$special_light-grey: #d9d9d9;
$special_dark-grey: #444444;
$basic_green: #68b738;
$transparent_green: rgba(104, 183, 56, 0.85);

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;


