.additional-products {
  position: relative;
}

.additional-products__section-heading {
  z-index: 2;
  width: max-content;
  max-width: 100%;
  padding: 25px 22px 36px 0;
  font-size: 24px;
  line-height: 24px;
  background-color: $clear-white;
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional-products__item {
  padding-bottom: 19px;
  border-top: 1px solid $light-grey;
}

.additional-products__item:last-child {
  border-bottom: 1px solid $light-grey;
}

picture {
  display: contents;
}

.additional-products__specs {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.additional-products__promo {
  display: flex;
  flex-direction: column;
  min-height: 289px;
  margin: 35px 0;
  align-items: center;
  justify-content: space-around;
  background-color: $transparent_green;
  background-image: url("../img/catalog-promo__bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-promo__bg@2x.webp");
  }
}

@supports not (background-image: url("../img/catalog-promo__bg.webp")) {
  .additional-products__promo {
    background-image: url("../img/catalog-promo__bg.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-promo__bg@2x.jpg");
    }
  }
}

.additional-products__promo-icon {
  margin-top: 40px;
  fill: $clear-white;
}

.additional-products__promo-text {
  font-size: 16px;
  line-height: 20px;
  color: $clear-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additional-products__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 39px 19px 39px;
  }

  .additional-products__section-heading {
    padding: 25px 39px 36px 39px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__item-heading {
    text-align: left;
  }

  .additional-products__specs {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__promo {
    margin: 69px 0 76px 0;
    min-height: 200px;
    flex-direction: row;
    background-image: url("../img/catalog-promo__bg_tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-promo__bg_tablet@2x.webp");
    }
  }

  @supports not (background-image: url("../img/catalog-promo__bg_tablet.webp")) {
    .additional-products__promo {
      background-image: url("../img/catalog-promo__bg_tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-promo__bg_tablet@2x.jpg");
      }
    }
  }

  .additional-products__promo-icon {
    width: 80px;
    height: auto;
    margin: 0;
  }

  .additional-products__promo-text {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    padding-bottom: 86px;
  }

  .additional-products__wrapper {
    display: grid;
    grid-template-columns: 895px 245px;
    column-gap: 80px;
  }

  .additional-products__section-heading {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: -40px;
    padding: 25px 36px 36px 40px;
  }

  .additional-products__list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .additional-products__promo {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 0 28px 0;
    background-image: url("../img/catalog-promo__bg_desktop.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-promo__bg_desktop@2x.webp");
    }
  }

  @supports not (background-image: url("../img/catalog-promo__bg_desktop.webp")) {
    .additional-products__promo {
      background-image: url("../img/catalog-promo__bg_desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/catalog-promo__bg_desktop@2x.jpg");
      }
    }
  }

  .additional-products__promo-text {
    text-align: center;
  }

  .additional-products__item {
    padding: 15px 0 17px 0;
    flex-wrap: nowrap;
  }

  .additional-products__item-heading {
    margin: 0 auto 0 0;
    text-align: left;
  }

  .additional-products__button_order {
    width: 244px;
  }

  .additional-products__specs {
    margin: 0 80px 0 0;
    min-width: 288px;
  }
}
