.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  word-break: break-word;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &_green {
    color: $clear-white;
    background-color: $basic_green;

    &:hover {
      color: $clear-white;
      background-color: $basic_green-2;
    }

    &:active {
      color: fade-out($clear-white, 0.3);
      background-color: $basic_green-2;
    }
  }

  &_grey {
    color: $special_dark-grey;
    background-color: $basic_grey;

    &:hover {
      background-color: $basic_grey-2;
    }

    &:active {
      color: fade-out($special_dark-grey, 0.3);
      background-color: $basic_grey-2;
    }
  }
}
