.catalog-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-products__item {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 40px;
  margin: 0 -20px;
  padding: 5px 20px 25px 20px;
  border-bottom: 1px solid $special_light-grey;
}

.catalog-products__item-heading {
  margin: 15px 0 14px 0;
  width: 76px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.catalog-products__item-img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding-top: 3px;
  align-self: center;
  justify-self: center;
}

.catalog-products__item-img_small {
  padding-top: 22px;
}

.catalog-products__item-img_small-chicken-500 {
  padding-top: 3px;
}

.catalog-products__item-img_small-buckwheat-500 {
  padding-top: 27px;
}

.catalog-products__item-img_big {
  padding-top: 12px;
}

.catalog-products__specs {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.catalog-products__specs-description {
  &_weight {
    padding-right: 2px;
  }
}

.catalog-products__specs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog-product__button_order {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  margin-top: 1px;
  font-size: 16px;
  line-height: 20px;
}

.catalog-products__item_show-more {
  display: flex;
  padding: 22px 20px 24px 20px;
  flex-direction: column;
  align-items: center;
}

.catalog-products__item-img_show-more {
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
  stroke: $plus-icon-grey;
  stroke-width: 2;
}

.catalog-products__text {
  margin: 0 0 20px 0;
  padding-right: 2px;
  font-size: 12px;
  line-height: 16px;
}


@media (min-width: $tablet-width) {
  .catalog-products__list {
    display: grid;
    padding-top: 116px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 94px;
  }

  .catalog-products__item {
    margin: 0;
    margin-top: 47px;
    padding: 141px 37px 40px 39px;
    grid-template-columns: 1fr;
    grid-template-rows: 0 auto auto 40px;
    background: $basic_grey;
    border: none;
  }

  .catalog-products__item-img {
    position: absolute;
    bottom: 14px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .catalog-products__item-img_small {
    width: 161px;
    height: auto;
    left: 43px;
  }

  .catalog-products__item-img_big {
    left: 39px;
    width: 168px;
    height: auto;
  }

  .catalog-products__item-img_chicken-1000 {
    bottom: 7px;
  }

  .catalog-products__item-img_fish-500,
  .catalog-products__item-img_rice-500 {
    width: 163px;
    left: 42px;
  }

  .catalog-products__item-heading {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 21px;
  }

  .item-heading {
    min-width: 140px;
    margin-bottom: 11px;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-products__specs-wrapper {
    padding: 9px 0 7px 0;
  }

  .catalog-products__specs {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 32px;
    padding-top: 1px;
    font-size: 16px;
    line-height: 16px;

    &-description {
      min-width: 46px;
      text-align: end;
    }
  }

  .catalog-products__specs-wrapper {
    padding: 8px 0 7px 0;
    border-bottom: 1px solid $light-grey;
  }

  .catalog-product__button_order {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-top: auto;
  }

  .catalog-products__item_show-more {
    padding: 141px 35px 36px 36px;
    align-items: center;
    text-align: center;
    border: 2px solid $basic_grey;
    background: $clear-white;
  }

  .catalog-products__item-img_show-more {
    top: 49px;
    width: 60px;
    height: 60px;
    stroke: $plus-icon-grey;
    stroke-width: 2;
  }

  .item-heading_show-more {
    margin-top: 20px;
    margin-bottom: 23px;
    padding: 0 40px;
    line-height: 22px;
  }

  .catalog-products__text {
    padding: 0 20px;
    font-size: 16px;
    line-height: 18px;
  }

  .show-more__button {
    min-height: 40px;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-products__list {
    padding-top: 118px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 96px;
  }

  .catalog-products__item {
    padding-top: 143px;
    padding-right: 38px;
  }

  .catalog-products__item_show-more {
    padding: 143px 36px 39px 36px;
  }

  .item-heading_show-more {
    margin-top: 16px;
    padding: 0;
  }

  .catalog-products__item-img {
    left: 0;

    &_small {
      left: 4px;
      bottom: 23px;
      width: 161px;
    }

    &_chicken-1000 {
      bottom: 21px;
      width: 172px;
      height: 202px;
    }

    &_fish-500,
    &_rice-500 {
      left: 3px;
      bottom: 23px;
      width: 163px;
    }

    &_fish-1000,
    &_buckwheat-1000 {
      bottom: 27px;
      width: 172px;
      height: 196px;
    }
  }

  .catalog-products__item-img_show-more {
    top: 47px;
    left: calc(50% - 30px);
  }

  .catalog-products__item-heading {
    padding-left: 4px;
    line-height: 21px;
  }

  .catalog-products__text {
    padding: 0;
  }

  .catalog-products__specs {
    padding-top: 5px;
    margin-bottom: 33px;
  }
}
