.contacts {
  padding-top: 26px;

  &_basic-grey {
    background-color: $basic_grey;
  }
}

.contacts__wrapper {
  flex-direction: row;
  flex-wrap: nowrap;
}

.contacts__text {
  text-transform: uppercase;
}

.contacs__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $special_dark-grey;
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
}

.contacts__map {
  margin-top: 26px;
}
