.contacts {
  padding-top: 26px;

  &_basic-grey {
    background-color: $basic_grey;
  }
}

.contacts__wrapper {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.contacts__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $basic_black;
  text-transform: uppercase;
}

.contacs__address {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $special_dark-grey;
}

.contacts__map {
  width: 100%;
  margin-top: 26px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 0 69px;
  }

  .contacts__text {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }

  .contacs__address {
    width: 160px;
    font-size: 16px;
    text-align: right;
  }

  .address__city {
    display: block;
    margin-top: 20px;
  }

  .contacts__map {
    min-height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding-top: 0;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    min-height: 198px;
    padding: 60px 80px 56px 80px;
    box-sizing: border-box;
    background-color: $clear-white;
  }

  .contacs__address {
    text-align: left;
  }

  .contacts__map {
    display: block;
    margin-top: 0;
    border: none;
  }
}
