.example {
  padding: 27px 0 45px 0;
  background: $basic_grey;
}

.example__cost {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__section-heading {
  margin-bottom: 42px;
}

.example__text {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.example__img-wrap {
  position: relative;
  display: flex;
  min-height: 232px;
  margin-bottom: 20px;
}

.example__cat {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 232px;
}

.example__cat_fat {
  z-index: 2;
  background-image: url("../img/example_cat-mobile.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/example_cat-mobile@2x.webp");
  }
}

@supports not (background-image: url("../img/example_cat-mobile.webp")) {
  .example__cat_fat {
    background-image: url("../img/example_cat-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/example_cat-mobile@2x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    background: linear-gradient($clear-white 57%, $nav-line_grey 57%);
    border-top: 1px solid $nav-line_grey;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .example__img-wrap,
  .example__cat {
    min-height: 511px;
  }

  .example__img-wrap {
    width: 592px;
    align-self: center;
  }

  .example__cat {
    width: 50%;
  }

  .example__cat_fat {
    z-index: 2;
    width: 50%;
    background-image: url("../img/example_cat-fat-tablet.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/example_cat-fat-tablet@2x.webp");
    }
  }

  @supports not (background-image: url("../img/example_cat-fat-tablet.webp")) {
    .example__cat_fat {
      background-image: url("../img/example_cat-fat-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/example_cat-fat-tablet@2x.png");
      }
    }
  }

  .example__cat_skinny {
    z-index: 1;
    width: 50%;
    right: 0;
    background-image: url("../img/example_cat-skinny-tablet.webp");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/example_cat-skinny-tablet@2x.webp");
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @supports not (background-image: url("../img/example_cat-skinny-tablet.webp")) {
    .example__cat_skinny {
      background-image: url("../img/example_cat-skinny-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/example_cat-skinny-tablet@2x.png");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 10px;
    background: linear-gradient($clear-white 20%, $basic_grey 20%);
    border-top: none;
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .example__section-heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .example__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .facts-list {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .example__img-wrap {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }
}
