.exemple {
  padding: 27px 0 45px 0;
  background: $basic_grey;
}

.exemple__cost {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.exemple__section-heading {
  margin-bottom: 42px;
}

.exemple__text {
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.exemple__img-wrap {
  position: relative;
  display: flex;
  min-height: 232px;
  margin-bottom: 20px;
}

.exemple__cat {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 232px;
}

.exemple__cat_fat {
  z-index: 2;
  background: url("../img/exemple_cat-mobile.png") center no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background: url("../img/exemple_cat-mobile@2x.png") center no-repeat;
    background-size: contain;
  }
}

@media (min-width: $tablet-width) {
  .exemple {
    padding-top: 43px;
    background: linear-gradient($clear-white 50%, $nav-line_grey 50%);
    border-top: 1px solid $nav-line_grey;
  }

  .exemple__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  .exemple__img-wrap,
  .exemple__cat {
    min-height: 511px;
  }

  .exemple__img-wrap {
    width: 592px;
    align-self: center;
  }

  .exemple__cat {
    width: 50%;
  }

  .exemple__cat_fat {
    z-index: 2;
    width: 50%;
    background: url("../img/exemple_cat-fat-tablet.png") left no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/exemple_cat-fat-tablet@2x.png") left no-repeat;
      background-size: cover;
    }
  }

  .exemple__cat_skinny {
    z-index: 1;
    width: 50%;
    right: 0;
    background: url("../img/exemple_cat-skinny-tablet.png") right no-repeat;
    background-size: cover;


    @media (min-resolution: 2dppx) {
      background: url("../img/exemple_cat-skinny-tablet@2x.png") right no-repeat;
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .exemple {
    padding-top: 10px;
    background: linear-gradient($clear-white 20%, $basic_grey 20%);
    border-top: none;
  }

  .exemple__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .exemple__section-heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .exemple__text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .facts-list {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .exemple__img-wrap {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }
}
