.exemple {
  padding: 25px 0 40px 0;
  background-color: $basic_grey;
}

.exemple__cost {
  text-transform: uppercase;
  text-align: center;
}

.exemple__section-heading {
  margin-bottom: 40px;
}

.exemple__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.exemple__cost {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.range {
  width: 210px;
  height: 30px;
}
