.facts-list {
  position: relative;
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(2, 124px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 32px;
  justify-content: center;
}

.facts-list__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;

  &_weight,
  &_time {
    transform: rotate(180deg);
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: 3px;
  }

  &_cost {
    margin-top: 20px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    text-transform: uppercase;
  }
}

.facts-list__item_weight .facts-list__description,
.facts-list__item_time .facts-list__description {
  transform: rotate(180deg);
  width: 77px;
}

.facts-list__item_weight .facts-list__title,
.facts-list__item_time .facts-list__title {
  transform: rotate(180deg);
}

.facts-list__title {
  margin: 5px 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &_cost {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
  }
}

.facts-list__description {
  margin: 0;
  font-size: 12px;
  line-height: 12px;

  &_cost {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
  }
}

@media (min-width: $tablet-width) {
  .facts-list {
    width: 100%;
    grid-template-columns: 162px 162px auto;
    grid-template-rows: 1fr;
    column-gap: 42px;
    justify-content: stretch;
  }

  .facts-list__item {
    &_cost {
      margin: 0 0 0 auto;
      grid-column: 3 / 4;
      grid-row: 1 / 2;
      flex-direction: column;
      align-items: end;
      justify-content: flex-start;
    }
  }

  .facts-list__title {
    font-size: 30px;
    line-height: 37px;

    &_cost {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }

  .facts-list__description {
    font-size: 14px;
    line-height: 14px;

    &_cost {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .facts-list__item_weight .facts-list__description,
  .facts-list__item_time .facts-list__description {
    width: max-content;
    padding: 0 8px;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .facts-list {
    grid-template-columns: 162px 162px;
    grid-template-rows: 72px auto;
    column-gap: 42px;
    row-gap: 47px;
  }

  .facts-list__item_cost {
    flex-direction: row;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-left: 0;
  }

  .facts-list__title_cost {
    margin: 0 60px 0 0;
  }
}
