.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  &_underlined {
    border-bottom: 1px solid $special_light-grey;
  }

  &_cat-data {
    padding: 39px 0 23px 0;
  }

  &_program {
    padding: 22px 0 14px 0;
  }

  &_contacts {
    padding-top: 26px;
    padding-bottom: 10px;
  }

  &_comment {
    padding-top: 14px;
  }

  &_additional {
    padding: 23px 0 7px 0;
  }
}

.form__legend {
  z-index: 2;
  width: fit-content;
  max-width: 68%;
  margin: 0 22px 35px 0;
  padding-right: 11px;
  font-size: 24px;
  line-height: 26px;
  background-color: $clear-white;

  &_comment {
    margin-bottom: 38px;
    padding-right: 23px;
  }

  &_additional {
    margin-bottom: 40px;
    padding-right: 23px;
  }
}

.form__green-line {
  &_contacts {
    top: 42px;
  }

  &_comment {
    top: 29px;
  }

  &_additional {
    top: 38px;
  }
}

@mixin icon-mail-color($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='14' viewBox='0 0 19 14' fill='none'%3E%3Cline x1='0.65' y1='5.84766' x2='0.65' y2='13.8477' stroke='%23#{$color}' stroke-width='1.3'/%3E%3Cline x1='17.65' y1='5.84766' x2='17.65' y2='13.8477' stroke='%23#{$color}' stroke-width='1.3'/%3E%3Cline y1='13.1977' x2='18' y2='13.1977' stroke='%23#{$color}' stroke-width='1.3'/%3E%3Cline y1='1.19766' x2='18' y2='1.19766' stroke='#{$color}' stroke-width='1.3'/%3E%3Cpath d='M17.35 3.02975L9.00002 9.5242L0.65 3.02975V1.49766H3.5L9.00002 1.49766H14H17.35V3.02975Z' stroke='%23#{$color}' stroke-width='1.3'/%3E%3C/svg%3E");
}

@mixin icon-phone-color($color) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cg clip-path='url(%23clip0_153_253)'%3E%3Cpath d='M17.9 9.75275H9.39999V10.9569H17.9L15.8 13.0641L16.7 13.9672L19.8 10.8565C19.8974 10.7263 19.95 10.5678 19.95 10.405C19.95 10.2421 19.8974 10.0837 19.8 9.95344L16.7 6.84277L15.8 7.74587L17.9 9.75275Z' fill='%23#{$color}'/%3E%3Cpath d='M8.10001 19.7872V13.5659C8.08846 13.41 8.02154 13.2635 7.91142 13.153C7.80131 13.0425 7.65531 12.9754 7.50001 12.9638H3.10001C3.10516 13.2815 3.23325 13.5848 3.45718 13.8095C3.68112 14.0342 3.98336 14.1627 4.30001 14.1679H6.80001V19.1851H3.10001C2.86326 19.2 2.62591 19.1676 2.40176 19.0896C2.17762 19.0117 1.97115 18.8898 1.79436 18.7311C1.61757 18.5723 1.47399 18.3799 1.37196 18.165C1.26992 17.9501 1.21148 17.717 1.20001 17.4793V3.43111C1.19181 2.96681 1.36516 2.51774 1.68292 2.18013C2.00069 1.84252 2.43758 1.64322 2.90001 1.62492H6.80001V6.64212H4.40001C4.08336 6.64729 3.78112 6.77581 3.55718 7.00052C3.33325 7.22523 3.20516 7.52851 3.20001 7.84625H7.60001C7.75531 7.83466 7.90131 7.76751 8.01142 7.65701C8.12154 7.54651 8.18846 7.40002 8.20001 7.24418V0.922517C8.15232 0.76584 8.06117 0.626022 7.93721 0.519407C7.81325 0.412792 7.66161 0.343785 7.50001 0.320453H3.10001C2.70599 0.307054 2.31321 0.371716 1.94411 0.510744C1.57501 0.649771 1.23684 0.860436 0.948933 1.13069C0.661026 1.40095 0.42903 1.7255 0.266207 2.08579C0.103385 2.44608 0.01293 2.83504 1.46306e-05 3.23043V17.1782C-0.0289644 17.5773 0.0246504 17.978 0.157487 18.3552C0.290324 18.7324 0.499509 19.078 0.771886 19.3701C1.04426 19.6623 1.37394 19.8947 1.74019 20.0529C2.10643 20.211 2.50132 20.2913 2.90001 20.2889H7.50001C7.5735 20.304 7.64943 20.3022 7.72216 20.2839C7.7949 20.2655 7.86259 20.2309 7.92021 20.1828C7.97783 20.1346 8.02391 20.074 8.05504 20.0055C8.08616 19.9371 8.10153 19.8624 8.10001 19.7872Z' fill='%23#{$color}'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_153_253'%3E%3Crect width='20' height='20.0688' fill='white' transform='translate(0 0.320435)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  color: $special_dark-grey;

  &_text {
    position: relative;
  }

  &_data:not(:last-child) {
    margin-bottom: 14px;
  }

  &_radio:not(:last-child) {
    margin-bottom: 19px;
  }

  &_radio {
    margin: 6px 0 10px;
    padding-left: 46px;
    color: $special_dark-grey-2;

    &:active {
      opacity: 0.3;
    }
  }

  &_align-left {
    justify-content: start;
  }

  &_checkbox {
    margin-bottom: 24px;
    padding-left: 46px;

    &:active {
      opacity: 0.3;
    }
  }

  &_email::after {
    content: "";
    position: absolute;
    right: 16px;
    display: block;
    width: 18px;
    height: 13px;

    @include icon-mail-color(222222);
  }

  &_email:focus-within::after {
    @include icon-mail-color(68B738);
  }

  &_phone::after {
    content: "";
    position: absolute;
    right: 13px;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/phone-icon.svg") 50% 50% no-repeat;
  }

  &_phone:focus-within::after {
    @include icon-phone-color(68B738);
  }
}

.form__input {
  border: 1px solid $input-line_grey;

  &_text {
    flex-grow: 1;
    min-height: 45px;
    margin-left: 13px;
    padding: 13px 13px 12px 15px;
  }

  &_weight {
    margin-left: 16px;
  }

  &_age {
    margin-left: 15px;
  }

  &_email {
    margin-left: 11px;
  }

  &_phone {
    margin-left: 9px;
  }

  &_textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 8px 13px 12px 14px;
  }

  &_text,
  &_textarea,
  &::placeholder {
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
  }

  &::placeholder {
    padding: 0;
  }

  &_text:hover,
  &_textarea:hover {
    border-color: $light-grey;
  }

  &_text:focus,
  &_textarea:focus {
    outline: 2px solid $special_dark-grey;
    border-radius: 0;
  }

  &_radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &_checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}

.form__label_text_invalid .form__input_text {
  outline: 2px solid $error-red;
}

.form__label_text_invalid.form__label_email::after {
  @include icon-mail-color(FF8282);
}

.form__label_text_invalid.form__label_phone::after {
  @include icon-phone-color(FF8282);
}

.form__radio {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: -46px;
  border: 1px solid $light-grey;
  border-radius: 50%;

  &:hover {
    border-color: $focus-input-grey;
  }
}

.form__input_radio:checked + .form__radio::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $basic_green;
}

.form__contact-label-wrapper {
  display: grid;
  row-gap: 14px;
}

.form__check-box {
  position: absolute;
  width: 28px;
  height: 28px;
  margin-left: -46px;
  border: 1px solid $light-grey;

  &:hover {
    border-color: $focus-input-grey;
  }
}

.form__input_checkbox:checked + .form__check-box {
  background: url("../img/checkbox-checked.svg") 50% 50% no-repeat;
}

.form__button {
  min-height: 40px;
  margin-top: 10px;
  font-size: 16px;
}

.form__notation {
  margin: 0;
  padding: 21px 0 32px 0;
  align-self: center;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 72px;
  }

  .form__fieldset {
    &_underlined {
      border-bottom: none;
    }

    &_cat-data {
      padding-bottom: 10px;
    }

    &_bordered {
      margin: 62px 67px 49px 71px;
      padding: 23px 27px 19px;
      border: 1px solid $input-line_grey;
    }

    &_cat-data {
      padding-top: 66px;
    }

    &_comment {
      padding-bottom: 40px;
    }

    &_additional {
      padding-top: 25px;
    }

    &_contacts {
      padding-bottom: 51px;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 62px;

    &_radio {
      padding-left: 60px;
    }

    &_radio:not(:last-child) {
      margin-bottom: 17px;
    }

    &_data:not(:last-child) {
      margin-bottom: 20px;
    }

    &_phone {
      padding-left: 1px;

      &::after {
        right: 16px;
      }
    }

    &_checkbox {
      margin: 0 22px 5px 0;
    }
  }

  .form__input {
    &_text {
      min-height: 52px;
      margin-left: 16px;
      padding: 15px 13px 12px 19px;
    }

    &_textarea {
      height: 174px;
      padding: 15px 13px 12px 17px;
    }

    &_weight {
      margin-left: 20px;
    }

    &_age {
      margin-left: 17px;
    }

    &_email {
      margin-left: 19px;
    }

    &::placeholder {
      font-size: 20px;
    }
  }

  .form__legend {
    max-width: 85%;
    margin: 0 0 76px -37px;
    padding: 0 41px 0 39px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__green-line {
    &_contacts {
      top: 48px;
    }

    &_comment {
      top: 36px;
    }

    &_additional {
      top: 47px;
    }
  }

  .form__label-wrapper_additional {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 37px;
    column-gap: 22px;
    padding-bottom: 37px;
  }

  .form__legend_additional {
    grid-column: 1 / -1;
    margin-bottom: 25px;
  }

  .form__contact-label-wrapper {
    row-gap: 20px;
  }

  .form__button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form__radio {
    margin-left: -60px;
    width: 38px;
    height: 38px;
  }

  .form__input_radio:checked + .form__radio::before {
    top: calc(50% - 9px);
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
  }

  .form__check-box {
    width: 38px;
    height: 38px;
    margin-left: -59px;
  }

  .form__button-wrapper {
    column-gap: 60px;
  }

  .form__button {
    width: 282px;
    min-height: 52px;
    margin-left: 4px;
    font-size: 20px;
  }

  .form__notation {
    padding: 6px 0 0;
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 82px;
  }

  .form__fieldset-wrapper_dekstop {
    display: grid;
    max-width: 1220px;
    margin: auto;
    padding-bottom: 33px;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }

  .form__fieldset-wrapper_dekstop .wrapper_form-inner {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .form__fieldset {
    &_cat-data {
      flex-direction: row;
      padding: 0;
    }

    &_bordered {
      margin: 0;
      padding: 19px 27px;
    }

    &_contacts {
      padding-bottom: 43px;
    }

    &_additional {
      padding-top: 17px;
    }
  }

  .form__legend {
    margin-left: -40px;
    padding: 10px 40px 0 40px;
  }

  .form__green-line {
    &_contacts {
      top: 58px;
    }

    &_comment {
      top: 46px;
    }

    &_additional {
      top: 49px;
    }
  }

  .form__input {
    &_text,
    &_textarea,
    &::placeholder {
      padding: 10px 45px 10px 20px;
      font-size: 20px;
      line-height: 30px;
    }

    &_textarea {
      padding-left: 18px;
    }

    &_weight {
      padding-left: 18px;
    }

    &_age {
      padding-left: 17px;
    }

    &_phone {
      padding-left: 18px;
    }

    &::placeholder {
      padding: 0;
    }
  }

  .form__label {
    &_text {
      margin: 0;
      padding-left: 0;
    }

    &_textarea {
      padding-left: 0;
    }

    &_radio {
      margin: 10px 0;

      &:not(:last-child) {
        margin-bottom: 13px;
      }
    }

    &_email::after {
      right: 19px;
    }

    &_checkbox {
      padding-left: 59px;
    }
  }

  .form__label-wrapper_additional {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    padding-bottom: 17px;
  }

  .form__contact-label-wrapper {
    grid-template-columns: 570px 1fr;
    column-gap: 78px;
  }

  .form__button-wrapper {
    grid-template-columns: 568px 1fr;
    column-gap: 82px;
  }

  .form__button {
    width: 100%;
    margin-top: 0;
    margin-left: 1px;
  }

  .form__notation {
    padding: 0;
  }
}
