.form__fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;

  &_underlined {
    border-bottom: 1px solid $special_light-grey;
  }

  &_cat-data {
    padding: 39px 0 24px 0;
  }

  &_program {
    padding: 22px 0 19px 0;
  }

  &_contacts {
    padding-top: 26px;
  }

  &_comment {
    padding-top: 24px;
  }

  &_additional {
    padding-top: 23px;
  }
}

.form__legend {
  z-index: 2;
  width: fit-content;
  max-width: 85%;
  margin: 0 22px 35px 0;
  padding-right: 22px;
  font-size: 24px;
  line-height: 26px;
  background-color: $clear-white;
}

.form__label {
  display: flex;
  min-width: max-content;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;

  &_text {
    position: relative;
  }

  &_text:not(:last-child) {
    margin-bottom: 15px;
  }

  &_radio:not(:last-child) {
    margin-bottom: 20px;
  }

  &_radio {
    margin: 10px 0 10px;
    padding-left: 50px;
    color: $special_dark-grey-2;
  }

  &_align-left {
    justify-content: start;
  }

  &_checkbox {
    margin-bottom: 25px;
    padding-left: 50px;
  }

  &_email::after {
    content: "";
    position: absolute;
    right: 15px;
    display: block;
    width: 18px;
    height: 13px;
    background: url("../img/letter-icon.svg") 50% 50% no-repeat;
  }

  &_phone::after {
    content: "";
    position: absolute;
    right: 15px;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/phone-icon.svg") 50% 50% no-repeat;
  }
}

.form__input {
  border: 1px solid $input-line_grey;

  &_text {
    padding: 0;
    flex-grow: 1;
    min-height: 45px;
    margin-left: 10px;
  }

  &_radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &_checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &_textarea {
    width: 100%;
    height: 150px;
    padding: 0;
    resize: none;
  }

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
  }

  &_text::placeholder {
    padding: 13px 15px 15px 15px;
  }

  &_textarea::placeholder {
    padding: 9px 12px 15px 15px;
  }
}

.form__radio {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -50px;
  border: 1px solid $light-grey;
  border-radius: 50%;
}

.form__input_radio:checked + .form__radio::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $basic_green;
}

.form__check-box {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -50px;
  border: 1px solid $light-grey;
}

.form__input_checkbox:checked + .form__check-box {
  background: url("../img/checkbox-checked.svg") 50% 50% no-repeat;
}

.form__button {
  height: 40px;
  margin-top: 10px;
}

.form__notation {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    padding-bottom: 72px;
  }

  .form__fieldset {
    &_underlined {
      border-bottom: none;
    }

    &_bordered {
      margin: 62px 67px 75px 71px;
      padding: 25px 28px;
      border: 1px solid $input-line_grey;
    }

    &_cat-data {
      padding-top: 66px;
    }

    &_comment {
      padding-bottom: 40px;
    }

    &_additional {
      padding-top: 25px;
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;

    &_radio {
      padding-left: 60px;
    }

    &_radio:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .form__legend {
    margin: 0 0 76px -39px;
    padding-left: 39px;
    font-size: 36px;
    line-height: 36px;
  }

  .form__label-wrapper_additional {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 32px;
  }

  .form__legend_additional {
    grid-column: 1 / 3;
    margin-bottom: 25px;
  }

  .form__button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form__radio {
    margin-left: -60px;
    width: 40px;
    height: 40px;
  }

  .form__button {
    width: 282px;
    height: 52px;
  }

  .form__notation {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .program-select__text {
    margin-bottom: 66px;
  }

  .form__fieldset-wrapper_dekstop {
    display: grid;
    max-width: 1220px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .form__fieldset-wrapper_dekstop .wrapper_form-inner {
    width: 100%;
    margin: 0;
    justify-content: space-between;
  }

  .form__fieldset {
    &_cat-data {
      flex-direction: row;
      padding: 0;
    }

    &_bordered {
      margin: 0;
      padding: 21px 28px;
    }
  }

  .form__label_radio {
    margin: 10px 0;

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
}
