.html-academy {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.html-academy__link {
  text-decoration: none;
  color: $special_dark-grey;
}
