.html-academy {
  display: flex;
  width: 100%;
  padding: 17px 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.html-academy__logo {
  fill: $special_grey-2;

  &:hover {
    fill: $basic-green;
  }
}

.html-academy__name {
  margin: 0;
  padding-bottom: 3px;
  white-space: nowrap;
}

.html-academy__logo {
  margin-top: 5px;
}

.html-academy__link {
  text-decoration: none;
  color: $special_dark-grey;
}

@media (min-width: $tablet-width) {
  .html-academy {
    width: min-content;
  }

  .html-academy__logo {
    height: auto;
    width: 37px;
  }

  .html-academy__name {
    margin-right: 22px;
  }
}
