.main-nav {
  display: inline-block;
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 18px;
  margin: 0 0 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggle-line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: $clear-black;

  &_first {
    top: 0;
  }

  &_second {
    top: 50%;
    transform: translateY(-50%);
  }

  &_third {
    bottom: 0;
  }
}

.main-nav__list {
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $clear-white;
}

.site-nav__item {
  display: flex;
  min-height: 66px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $nav-line_grey;
}

.site-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $clear-black;
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin: 0 0 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    position: static;
    z-index: 3;
    display: flex;
    align-items: baseline;
  }

  .site-nav__link {
    font-weight: 400;
  }

  .site-nav__item {
    border: none;
    min-height: 36px;


    &:not(:last-child) {
      margin-right: 34px;
    }

    &_active {
    border-bottom: 2px solid $basic_green;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    position: relative;
    top: 0;
    background: none;
  }

  .site-nav__item {
    border-color: $clear-white;
  }

  .site-nav__link {
    color: $clear-white;
  }
}
