.page-footer {
  margin: 0;
  background-color: $basic_grey;
}

.page-footer__wrapper {
  display: flex;
  align-items: center;
}

.page-footer__text-logo-link {
  display: block;
  width: 100%;
  padding: 39px 0 32px 0;
  text-align: center;
  border-bottom: 1px solid $special_light-grey;
}

.footer__social-list {
  width: 100%;
  padding: 23px 70px;
}

.footer__social-list,
.page-footer__text-logo-link {
  border-bottom: 1px solid $special_light-grey;
}
