.page-header__wraper {
  padding-top: 10px;
  padding-bottom: 17px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  line-height: 8px;
  z-index: 2;
  border-bottom: 1px solid $special_light-grey;
}

.page-header__logo {
  &_image {
    margin-left: 0;
  }
}

.page-header__logo-image {
  &_tablet,
  &_desktop {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .page-header__wraper {
    flex-wrap: wrap;
    justify-content: start;
  }

  .page-header__logo {
    &_text {
      margin: 0 auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo-image {
    margin-right: 12px;

    &_mobile {
      display: none;
    }

    &_tablet {
      display: block;
    }
  }

  .page-header__wraper {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 55px;
  }

  .page-header__logo-image {
    margin-right: 15px;

    &_tablet {
      display: none;
    }

    &_desktop {
      display: block;
    }
  }
}
