.programs__wrapper {
  padding-top: 20px;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto auto;
  width: 100%;
  margin-bottom: 20px;
  padding: 21px 20px 21px 20px;
  column-gap: 19px;
  box-sizing: border-box;
  background-color: $basic-grey;
}

.programs__item-logo {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 3px 0 0 2px;
  align-self: center;
  border-radius: 50%;
  background-color: $basic_green;
}

.programs__logo-svg {
  position: absolute;

  &_slim {
    bottom: 3px;
    left: 7px;
  }

  &_pro {
    bottom: 11px;
    left: -9px;
  }
}

.programs__heading {
  margin: 0;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  word-break: break-word;
}

.programs__description {
  margin: 0 0 19px 0;
  padding: 22px 0;
  grid-column: 1 / 3;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark_grey;
  border-bottom: 1px solid $special_light-grey;
  word-break: break-word;
}

.programs__link {
  grid-column: 1 / 3;
  font-family: "Oswald", sans-serif;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $clear-black;
  word-break: break-word;

  &::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 16px;
    background-image: url("data:image/svg+xml, %3Csvg class='programs__item-arrow' xmlns='http://www.w3.org/2000/svg' width='32' height='12' viewBox='0 0 32 12' fill='none'%3E%3Cline y1='6' x2='18' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M24 6L17.25 11.1962L17.25 0.803848L24 6Z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='12' viewBox='0 0 32 12' fill='none'%3E%3Cline y1='6' x2='26' y2='6' stroke='black' stroke-width='2'/%3E%3Cpath d='M32 6L25.25 11.1962L25.25 0.803848L32 6Z' fill='black'/%3E%3C/svg%3E");
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__link-text {
  display: inline-block;
  min-width: 90px;
  margin-right: 11px;
}

@media (min-width: $tablet-width) {
  .programs__item {
    min-height: 372px;
    padding: 77px 60px 57px 53px;
    grid-template-columns: auto auto;
    column-gap: 54px;
  }

  .programs__item-logo {
    width: 200px;
    height: 200px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  .programs__logo-svg_slim {
    bottom: 15px;
    left: 32px;
    width: 140px;
    height: 194px;
  }

  .programs__logo-svg_pro {
    bottom: 50px;
    left: -40px;
    width: 268px;
    height: 112px;
  }

  .programs__heading {
    grid-column: 1 / 2;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__description {
    grid-column: 1 / 2;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programs__link {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 80px;
    justify-content: space-between;
  }

  .programs__item {
    min-width: 570px;
    padding: 40px 51px 59px 51px;
    grid-template-columns: min-content auto;
  }

  .programs__item-logo {
    width: 100px;
    height: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  .programs__heading {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    font-size: 36px;
    line-height: 36px;
    align-self: center;
  }

  .programs__description {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programs__link {
    grid-column: 1 / -1;
    font-size: 20px;
    line-height: 30px;
  }

  .programs__logo-svg_slim {
    bottom: 7px;
    left: 7px;
    width: 90px;
    height: 97px;
  }

  .programs__logo-svg_pro {
    bottom: 25px;
    left: -20px;
    width: 134px;
    height: 56px;
  }
}
