.program-select__text {
  margin: 0 0 14px 0;
  padding-right: 16px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.program-select__form-fieldset {
  display: flex;
  margin: 0;
  padding: 25px 0 0 0;
  border: none;

  &_underlined {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;
  }
}

.program-select__form-legend {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
}

.program-select__form-notation {
  text-align: center;
}

.program-select__form-input {
  border: 1px solid #e7e7e7;

  &_text {
    flex-grow: 1;
    min-height: 45px;
    margin-left: 10px;
  }

  &_radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &_checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &_textarea {
    width: 280px;
    height: 150px;
    padding: 0;
    resize: none;
  }

  &::placeholder {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
  }

  &_text::placeholder {
    padding: 13px 15px 15px 15px;
  }

  &_textarea::placeholder {
    padding: 9px 12px 15px 15px;
  }
}

.program-select__check-box {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -50px;
  border: 1px solid #cdcdcc;
}

.program-select__form-input_checkbox:checked + .program-select__check-box {
  background: url("../../img/checkbox-checked.svg") 50% 50% no-repeat;
}

.program-select__radio {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -50px;
  border: 1px solid #cdcdcc;
  border-radius: 50%;
}

.program-select__form-input_radio:checked + .program-select__radio::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $basic_green;
}

.program-select__button {
  height: 40px;
  margin-top: 10px;
}
