.program-select__text {
  margin: 0;
  padding-right: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 323px;
    padding-left: 3px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}
