.promo {
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 302px;
  z-index: 1;
  background: $basic_green;
  background-image: url("../img/promo_bg-mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo_bg-mobile@2x.webp");
  }
}

@supports not (background-image: url("../img/promo_bg-mobile.webp")) {
  .promo::before {
    background-image: url("../img/promo_bg-mobile.jpeg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo_bg-mobile@2x.jpg");
    }
  }
}

.promo__wrapper_content {
  position: relative;
  min-height: 302px;
  padding-top: 27px;
  z-index: 2;
  background: url("../img/promo-can-mobile.png");
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 280px 270px;

  @media (min-resolution: 2dppx) {
    background: url("../img/promo-can-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 280px 270px;
  }
}

.promo__section-heading {
  margin-bottom: 25px;
  color: $clear-white;
  text-align: center;
}

.promo__slogan {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $clear-white;
}

.promo_button {
  height: 40px;
  margin-top: 302px;
}

@media (min-width: $tablet-width) {
  .promo::before {
    display: none;
  }

  .promo__wrapper_content {
    padding: 50px 230px 528px 120px;
    background: url("../img/promo-can-tablet.png") 41% 92% no-repeat;
    background-size: 709px 609px;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo-can-tablet@2x.png") 41% 92% no-repeat;
      background-size: 709px 609px;
    }
  }

  .promo__section-heading {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $clear-black;
  }

  .promo__slogan {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $clear-black;
  }

  .promo_button {
    margin: 0;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: static;
    width: 1220px;
    margin: auto;
  }

  .promo::before {
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    min-height: 694px;
    background-image: url("../img/promo_bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo_bg-desktop@2x.jpg");
    }
  }

  .promo__wrapper_content {
    width: 100%;
    padding: 50px 80px 267px 80px;
    padding-right: 80px;
    padding-left: 80px;
    box-sizing: border-box;
    background: url("../img/promo-can-desktop.png") 66% 0 no-repeat;
    background-size: 44%;

    @media (min-resolution: 2dppx) {
      background: url("../img/promo-can-desktop@2x.png")  66% 0 no-repeat;
      background-size: 44%;
    }
  }

  .promo__section-heading {
    width: 50%;
  }
}
