.promo {
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 302px;
  z-index: 1;
  background: $basic_green;
  background-image: url("../img/promo_bg-mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo_bg-mobile@2x.webp");
  }
}

@supports not (background-image: url("../img/promo_bg-mobile.webp")) {
  .promo::before {
    background-image: url("../img/promo_bg-mobile.jpeg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo_bg-mobile@2x.jpg");
    }
  }
}

.promo__wrapper_content {
  position: relative;
  min-height: 302px;
  padding-top: 27px;
  z-index: 2;
  background-image: url("../img/promo-can-mobile.webp");
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 280px 270px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-can-mobile@2x.webp");
  }
}

@supports not (background-image: url("../img/promo-can-mobile.webp")) {
  .promo__wrapper_content {
    background-image: url("../img/promo-can-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-can-mobile@2x.png");
    }
  }
}

.promo__section-heading {
  margin-bottom: 25px;
  color: $clear-white;
  text-align: center;
}

.promo__slogan {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $clear-white;
}

.promo_button {
  margin-top: 302px;
}

@media (min-width: $tablet-width) {
  .promo::before {
    display: none;
  }

  .promo__wrapper_content {
    padding: 47px 230px 488px 117px;
    background-image: url("../img/promo-can-tablet.webp");
    background-position: 49% 109%;
    background-repeat: no-repeat;
    background-size: 709px 609px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-can-tablet@2x.webp");
    }
  }

  @supports not (background-image: url("../img/promo-can-tablet.webp")) {
    .promo__wrapper_conten {
      background-image: url("../img/promo-can-tablet.png");

      @media (min-resolution: 2dppx) {
        background: url("../img/promo-can-tablet@2x.png") 41% 92% no-repeat;
        background-size: 709px 609px;
      }
    }
  }

  .promo__section-heading {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $clear-black;
  }

  .promo__slogan {
    margin-bottom: 49px;
    padding-left: 2px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $clear-black;
  }

  .promo_button {
    min-height: 54px;
    margin: 0 0 0 3px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: static;
    width: 1220px;
    margin: auto;
  }

  .promo::before {
    top: 0;
    right: 0;
    display: block;
    width: 50%;
    min-height: 694px;
    background-image: url("../img/promo_bg-desktop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo_bg-desktop@2x.webp");
    }
  }

  @supports not (background-image: url("../img/promo_bg-desktop.webp")) {
    .promo__wrapper_content {
      background-image: url("../img/promo_bg-desktop.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo_bg-desktop@2x.jpg");
      }
    }
  }

  .promo__wrapper_content {
    width: 100%;
    padding: 93px 80px 247px 80px;
    padding-right: 80px;
    padding-left: 80px;
    box-sizing: border-box;
    background-image: url("../img/promo-can-desktop.webp");
    background-size: 45%;
    background-position: 450px 12px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-can-desktop@2x.webp");
    }
  }

  @supports not (background-image: url("../img/promo-can-desktop.webp")) {
    .promo__wrapper_content {
      background-image: url("../img/promo-can-desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/promo-can-desktop@2x.png");
      }
    }
  }

  .promo_button {
    margin: 0;
  }

  .promo__slogan {
    width: 45%;
    margin-bottom: 51px;
    padding-left: 0;

  .promo__section-heading {
    width: 50%;
  }
}}
