.promo {
  position: relative;
  background: $basic_green;
  background-image: url("../../img/promo_bg-mobile.jpg"); /* fallback */
  background-image: url("../../img/promo_bg-mobile.jpg"), linear-gradient($basic_green 50%, $clear-white 50%);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__wrapper_content {
  // min-height: 302px;
  // padding-top: 27px;
  // box-sizing: border-box;
  // background-size: cover;
  // background-image: url("../../img/promo_bg-mobile.jpg");
  // background-repeat: no-repeat;
}

.promo__section-heading {
  margin-bottom: 25px;
  color: $clear-white;
  text-align: center;
}

.promo__slogan {
  margin: 0 0 29px 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $clear-white;
}

.promo_img {
  position: absolute;
  bottom: 43px;
  left: calc(50% - 140px);
}

.promo_button {
  height: 40px;
  margin-top: 138px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper_content {
    padding: 0 230px 0 120px;
    background: none;
  }

  .promo__section-heading {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $clear-black;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $clear-black;
  }

  .promo__wrapper_button {
    padding-left: 120px;
  }

  .promo_button {
    margin: 0 0 526px 0;
    width: 244px;
  }

  .promo_img {
    bottom: 43px;
  }
}
