.promo {
  position: relative;
}

.promo__wrapper {
  align-items: center;
}

.promo__content-wrapper {
  min-height: 302px;
  margin-bottom: 138px;
  background-size: cover;
  background-image: url("../../img/promo_bg.jpg");
  background-repeat: no-repeat;
}

.promo__bg-color {
  min-height: 302px;
  padding-top: 27px;
  box-sizing: border-box;
  background-color: $transparent_green;
}

.promo__section-heading {
  margin-bottom: 25px;
  color: $clear-white;
  text-align: center;
}

.promo__slogan {
  margin: 0 0 29px 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: $clear-white;
}

.promo_img {
  position: absolute;
  bottom: 43px;
  left: calc(50% - 140px);
}

.promo_button {
  height: 40px;
}
