.range {
  display: flex;
  padding: 0 70px;
  justify-content: center;
  align-items: center;
}

.range__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.range__scale {
  min-width: 86px;
  width: 100%;
  height: 14px;
  padding: 3px 6px;
  margin: 0 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.range__bar {
  position: relative;
  width: 50%;
  height: 6px;
  background-color: $basic_green;
  border-radius: 6px;
}

.range__toggle {
  position: absolute;
  right: 0;
  height: 6px;
  border: none;
  border-radius: 6px;
  background-color: inherit;
  cursor: pointer;
}
