.range {
  display: flex;
  padding: 0 70px;
  justify-content: center;
  align-items: center;
}

.range__text {
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    margin-bottom: -1px;
    border-bottom: 1px dotted fade-out($clear-black, 0.76);
  }

  &:active {
    margin-bottom: -1px;
    border-bottom: 1px solid fade-out($clear-black, 0.76);
  }
}

.range__scale {
  min-width: 86px;
  width: 100%;
  height: 14px;
  margin: 0 18px;
  padding: 3px 6px;
  box-sizing: border-box;
  background-color: $clear-white;
  border: 1px solid $light-grey;
  border-radius: 6px;
}

.range__bar {
  position: relative;
  width: 50%;
  height: 6px;
  background-color: $basic_green;
  border-radius: 6px;
}

.range__toggle {
  position: absolute;
  right: 0;
  height: 6px;
  border: none;
  border-radius: 6px;
  background-color: inherit;
  cursor: pointer;
  box-shadow: (0 1px 3px rgba(0, 0, 0, 0.16));
}

@media (min-width: $tablet-width) {
  .range {
    padding: 0 66px 0 71px;
  }

  .range__text {
    font-size: 20px;
  }

  .range__scale {
    margin: 0 23px;
    height: 6px;
    padding: 3px 0;
    background-color: $light-grey_range-bar;
    border: none;
  }

  .range__bar {
    background-color: transparent;
  }

  .range__toggle {
    top: -17px;
    left: calc(100% - 16px);
    width: 34px;
    height: 34px;
    background-color: $clear-white;
    border-radius: 50%;
    border: 1px solid $light-grey;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 4px);
      left: calc(50% - 4px);
      display: block;
      width: 8px;
      height: 8px;
      background-color: $basic_green;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: (0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      border: 1px solid $basic-green;
      box-shadow: (0 3px 5px rgba(0, 0, 0, 0.2));
    }
  }
}

@media (min-width: $desktop-width) {
  .range {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    align-self: end;
    margin-bottom: 23px;
    padding: 0 7px 0 32px;
  }
}
