.section-heading {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

@media (min-width: $tablet-width) {
  .section-heading {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {

}
