.special {
  padding-bottom: 49px;
}

.special__section-heading {
  margin-bottom: 40px;
}

.special__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.special-list__item {
  display: flex;
  align-items: center;
}

.special-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.special-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0;
  background-color: $basic_green;
}

.special-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}
