.special__wrapper {
  padding: 2px 20px 49px 20px;
}

.special__section-heading {
  margin-bottom: 42px;
}

.special__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.special-list__item {
  display: flex;
  align-items: center;
}

.special-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.special-list__icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0;
  background-color: $basic_green;
}

.special-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.special-list__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .special__wrapper {
    padding: 15px 30px 16px;
  }

  .special__section-heading {
    margin-bottom: 72px;
  }

  .special__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 59px;
    row-gap: 47px;
  }

  .special-list__item {
    position: relative;
    width: 250px;
    min-height: 250px;
    flex-direction: column;
    align-items: flex-start;

    &::after {
      content: "";
      position: absolute;
      top: -39px;
      right: 3px;
      display: block;
      z-index: -1;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $basic_grey;
    }

    &:first-child::after {
      right: 20px;
    }

    @for $i from 1 to 5 {
      &:nth-child(#{$i})::after {
        content: "#{$i}";
      }
    }
  }

  .special-list__icon-bg {
    height: 80px;
    width: 80px;
    margin-bottom: 31px;
  }

  .special-list__text {
    font-size: 16px;
    line-height: 24px;
  }

  .special-list__text br {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .special__wrapper {
    padding: 43px 30px 16px 30px;
  }

  .special__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 75px;
  }
}
