.wrapper {
  display: flex;
  min-width: 280px;
  padding: 0 20px;
  flex-direction: column;
}

.wrapper_form-heading {
  border-top: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .wrapper {
    padding: 0 30px;

    &_form-inner {
      padding: 0 67px;
    }
  }

  .form__fieldset_bordered .wrapper_form-inner {
    padding: 0;
  }

  .wrapper_form-heading {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: 1220px;
    margin: auto;

    &_form-inner {
      width: 1220px;
      max-width: 1220px;
      padding: 0;
    }
  }
}
