.wrapper {
  display: flex;
  min-width: 280px;
  padding: 0 20px;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
 .wrapper {
   padding: 0 30px;
 }
}

@media (min-width: $desktop-width) {
 .wrapper {
   padding: 0 100px;
 }
}
